<%% klass = item.first.gsub('_id','').camelize.constantize %>
<%% klass_object = klass.find(item.last) %>
<td><%%= link_to klass_object.display, send("edit_#{klass.to_s.underscore}_path", klass_object), class: "btn btn-xs btn-info" %></td>