<tr>
  <%% object.attributes.except('id').each do |item| %>
    <td><%%= item.last %></td>
  <%% end %>
  <td class='align-right'>
    <%% if model_has_show?<%= (@klass.singularize.underscore) %>%>
      <%%= link_to send("<%= @klass.singularize.underscore %>_path", object) do %>
        <i class="fa fa-eye distance" aria-hidden="true"></i>
      <%% end %>
    <%% end %>
    <%% if current_user.can?("manage_<%= @klass %>") %>
      <%%= link_to send("edit_<%= @klass.singularize.underscore %>_path", object) do %>
        <i class="fa fa-pencil distance" aria-hidden="true"></i>
      <%% end %>
    <%% end %>
  </td>
</tr>