<% dc = @character.character_stat.spell_dc %>
<% sp_attack = @character.character_stat.spell_attack_bonus %>
<div class="col-xs-4 single spell-attack spell">
	<div class="col-xs-12">
		<h1><%= sp_attack.first %></h1>
	</div>
</div>
<div class="col-xs-4 single spell-dc spell">
	<div class="col-xs-12">
		<h1><%= dc.first %></h1>
	</div>
</div>