<div class="col-xs-12" id="boxy">
	<div class="col-xs-12 character-name">
		<h4>Fredrik "Moash" Kholin</h4>
	</div>
	<div class="col-xs-12 first-row">
		<div class="first-row first class"> Cleric 3 / Paladin 2</div>
		<div class="first-row second background"> Diplomat </div>
		<div class="first-row third player-name"> Gamuza </div>
	</div>
	<div class="col-xs-12 second-row">
		<div class="second-row first race">Dwarf</div>
		<div class="second-row second aligment">Legal Neutral</div>
		<div class="second-row third experience">9900/15000</div>
	</div>
	<div class="first-column">
		<div class="first-column proficiency-bonus"><h4>+3</h4></div>
		<div class="attributes">
			<div class="first-column strength">
				<div class="score"><h4>15</h4></div>
				<div class="bonus"><h2>+2</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+2</b></h6>
				</div>
				<div class="skill-column first-skill athletics">
					<h6><b>+2</b></h6>
				</div>
			</div>
			<div class="first-column dexterity">
				<div class="score"><h4>12</h4></div>
				<div class="bonus"><h2>+1</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+1</b></h6>
				</div>
				<div class="skill-column first-skill acrobatics">
					<h6><b>+1</b></h6>
				</div>
				<div class="skill-column second-skill sleight-of-hand">
					<h6><b>+1</b></h6>
				</div>
				<div class="skill-column third-skill stealth">
					<h6><b>+1</b></h6>
				</div>
			</div>
			<div class="first-column constitution">
				<div class="score"><h4>20</h4></div>
				<div class="bonus"><h2>+5</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+5</b></h6>
				</div>
			</div>
			<div class="first-column intelligence">
				<div class="score"><h4>14</h4></div>
				<div class="bonus"><h2>+2</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+2</b></h6>
				</div>
				<div class="skill-column first-skill arcana">
					<h6><b>+8</b></h6>
				</div>
				<div class="skill-column second-skill history">
					<h6><b>+5</b></h6>
				</div>
				<div class="skill-column third-skill investigation">
					<h6><b>+2</b></h6>
				</div>
				<div class="skill-column fourth-skill nature">
					<h6><b>+2</b></h6>
				</div>
				<div class="skill-column fifth-skill religion">
					<h6><b>+2</b></h6>
				</div>
			</div>
			<div class="first-column wisdom">
				<div class="score"><h4>20</h4></div>
				<div class="bonus"><h2>+5</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+8</b></h6>
				</div>
				<div class="skill-column first-skill animal-handling">
					<h6><b>+5</b></h6>
				</div>
				<div class="skill-column second-skill insight">
					<h6><b>+8</b></h6>
				</div>
				<div class="skill-column third-skill medicine">
					<h6><b>+5</b></h6>
				</div>
				<div class="skill-column fourth-skill perception">
					<h6><b>+5</b></h6>
				</div>
				<div class="skill-column fifth-skill survival">
					<h6><b>+5</b></h6>
				</div>
			</div>
			<div class="first-column charisma">
				<div class="score"><h4>17</h4></div>
				<div class="bonus"><h2>+3</h2></div>
				<div class="skill-column saving-throw">
					<h6><b>+6</b></h6>
				</div>
				<div class="skill-column first-skill deception">
					<h6><b>+3</b></h6>
				</div>
				<div class="skill-column second-skill intimidation">
					<h6><b>+3</b></h6>
				</div>
				<div class="skill-column third-skill performance">
					<h6><b>+3</b></h6>
				</div>
				<div class="skill-column fourth-skill persuasion">
					<h6><b>+6</b></h6>
				</div>
			</div>
		</div>
		<div class="first-column passive-perception"><h4>15</h4></div>
		<div class="first-column languages">
			<h5>Common</h5>
			<h5>Dwarvish</h5>
			<h5>Orcish</h5>
			<h5>Undercommon</h5>
		</div>
		<div class="first-column tools">
			<h5>Smith's Tools</h5>
		</div>
	</div>

	<div class="second-column">
		<div class="second-column combat-stats armor-class">
			<h3>21</h3>
		</div>
		<div class="second-column combat-stats initiative">
			<h3>+1</h3>
		</div>
		<div class="second-column combat-stats speed">
			<h3>30</h3>
		</div>
	</div>
</div>