<div class="col-xs-12" id="boxy">
	<div class="col-xs-12 character-name">
		<h1>Fredrik "Moash" Kholin</h1>
	</div>

	<div class="col-xs-12 first-row">
		<div class="col-xs-5">&nbsp</div>
		<div class="col-xs-2 first class">
			<h2> Cleric 3 / Paladin 2</h2>
		</div>
		<div class="col-xs-2 center-align background">
			<h2> Diplomat </h2>
		</div>
		<div class="col-xs-2 center-align player-name">
			<h2> Gamuza </h2>
		</div>
	</div>

	<div class="col-xs-12 second-row">
		<div class="col-xs-5">&nbsp</div>
		<div class="col-xs-2 first race">
			<h2>Dwarf</h2>
		</div>
		<div class="col-xs-2 center-align aligment">
			<h2>Legal Neutral</h2>
		</div>
		<div class="col-xs-2 center-align experience">
			<h2>9900/15000</h2>
		</div>
	</div>

	<div class="col-xs-4 column">
		<div class="col-xs-12">
			<div class="col-xs-2">&nbsp</div>
			<div class="col-xs-2 proficiency-bonus">
				<h1>+3</h1>
			</div>
			<div class="col-xs-8"></div>
		</div>

		<div class="col-xs-12">
			<div class="bulto"></div>
		</div>

		<div class="col-xs-12 attributes">
			<div class="col-xs-5">
				<div class="score">
					<h1>15</h1>
				</div>
				<div class="bonus">
					<h1>
						<b> +2 </b>
					</h1>
				</div>
			</div>
			<div class="col-xs-7">
				<div class="col-xs-12">
					<div class="col-xs-1">&nbsp</div>
					<div class="skill-column saving-throw col-xs-2">
						<h3>
							<b> +2 </b>
						</h3>
					</div>
					<div class="col-xs-9">&nbsp</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-1">&nbsp</div>
					<div class="skill-column first-skill athletics col-xs-2">
						<h3>
							<b>+2</b>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-4">
	</div>

	<div class="col-xs-4">
	</div>

	<div class="second-column">
		<div class="second-column combat-stats armor-class">
			<h3>21</h3>
		</div>
		<div class="second-column combat-stats initiative">
			<h3>+1</h3>
		</div>
		<div class="second-column combat-stats speed">
			<h3>30</h3>
		</div>
	</div>
</div>