#boxy{

    background: url( asset-path('alternative.png') ) no-repeat;
    background-size: 100% 100%;
    height: 3072px;
    width: 2373px;

    h1{font-size: 55px; text-align:center;}
    h2{font-size: 42px; text-align:center;}
    h3{font-size: 32px;}

    .character-name{
        position: absolute;
        top: 180px;
        left: 180px;
        width: 700px;
    }

    .first-row{
       	position: absolute;
        top: 140px;
    }

    .first {
        left: 25px;
    }

    .center-align{
        text-align: center;
    }

    .second-row{
 		position: absolute;
        top: 245px;
 	}

    .column{
        top:490px;
    }

    .bulto{
        height:150px;
    }

    .attributes{
        height:270px;

        .score{
            margin-top: -2%;
            margin-left:15%;
        }

        .bonus{
            margin-left: 10%;

            h1{
                font-size:80px;
            }

        }

        .skill-column{
            h3{
                margin: 0px;
            }
        }

        .saving-throw{
            padding-top: 2%;
        }
    }
}