#boxy{
  background: url( asset-path('alternative.png') ) no-repeat;
  background-size: 100% 100%;
  height: 1122px;
  width: 793px;

  .character-name{
    position: absolute;
    top: 60px;
    left: 60px;
  }

  .first-row{
   	position: absolute;
    top: 24px;
  }

  .second-row{
 		position: absolute;
        top: 41px;
 	}

 	.first {
        left: 336px;
 	}

 	.second {
        right: 249px;
 	}

 	.third{
 		right: 100px;
 	}

 	.player-name{
 		right: 125px;
 	}

 	.first-column{
 		position: absolute;
        left: 31px;
 	}

    .second-column{
        position: absolute;
        left: 152px;
    }

 	.proficiency-bonus{
 		top: 160px;
 	}

 	.attributes{
 		position: absolute;
 		left: -5px;
 	}

 	.strength{
 		position: absolute;
        top: 224px;
 	}

 	.dexterity{
 		position: absolute;
        top: 315px;
 	}

 	.constitution{
 		position: absolute;
        top: 407px;

 	}

 	.intelligence{
 		position: absolute;
        top: 498px;
 	}

 	.wisdom{
 		position: absolute;
        top: 590px;
 	}

 	.charisma{
 		position: absolute;
        top: 682px;
 	}

 	.score{
 		position: absolute;
 		left: 6px;
        top: 16px;
 	}

 	.bonus {
 		position: absolute;
 		left: -5px;
        top: 30px;
 	}

 	.skill-column{
 		position: absolute;
 		left: 83px;
 	}


    .saving-throw{
        top:14px;
    }

    .first-skill {
        top:27px;
    }

    .second-skill {
        top: 40px;
    }

    .third-skill{
        top: 53px;
    }

    .fourth-skill{
        top: 66px;
    }

    .fifth-skill{
        top: 79px;
    }


    .passive-perception{
        top: 785px;
    }

    .languages{
        top: 850px;
        left: 2px;
        width: 200px;
        h5{
            margin: 0px;
        }

    }

    .tools{
        top: 930px;
        left: 2px;
        width: 200px;
        h5{
            margin: 0px;
        }
    }

    .combat-stats{
        top: 157px;
        h3{
            font-size: 30px;
        }
    }

    .initiative{
        left: 223px;
    }

    .speed{
        left: 303px;
    }
}

#alternative{

    background: url( asset-path('alternative.png') ) no-repeat;
    background-size: 100% 100%;

    h1{font-size: 55px; text-align:center;}
    h2{font-size: 42px; text-align:center;}
    h3{font-size: 32px;}

    .character-name{
        position: absolute;
        top: 180px;
        left: 180px;
        width: 700px;
    }

    .first-row{
       	position: absolute;
        top: 140px;
    }

    .first {
        left: 25px;
    }

    .center-align{
        text-align: center;
    }

    .second-row{
 		position: absolute;
        top: 245px;
 	}

    .column{
        top:490px;
    }

    .bulto{
        height:150px;
    }

    .attributes{
        height:274px;

        .score{
            margin-top: -2%;
            margin-left:15%;
        }

        .bonus{
            margin-left: 10%;

            h1{
                font-size:80px;
            }

        }

        .skill-column{
            h3{
                margin: 0px;
            }
        }

        .skills{
            padding-top: 1%;
            margin-top: 1px;
        }

        .saving-throw{
            padding-top: 5%;
        }

        .items{
            margin-left: 6%;
            margin-top: 1%;

            h3{
                margin: 0px;
            }
        }
    }

    .passive-perception{
        margin-top: -1%;
        margin-left: -1%;
    }

    .column-2{
        .bulto{
            height:50px;
        }

        .bulto-grande{
            height: 150px;
        }

        .stats{
            h1{
                font-size: 90px;
            }

            .armor-class{
                h1{
                    margin-top: 0%;
                    margin-left: 10%;
                }
            }

            .speed{
                h1{
                    margin-right: 10%;
                }
            }
        }
    }

    .column-3{
        .bulto{
            height:500px;
        }

        .features{
            padding: 1%;
            padding-right: 7%;
            h3{
                text-decoration: underline;
                font-weight: 900;
                margin:0px;
            }

            h4{
                font-size: 26px;
                margin-left: 5%;
            }
        }
    }

}

#melee{
    background: url( asset-path('melee.png') ) no-repeat;
    background-size: 100% 100%;
    height: 390mm;
    width: 262mm;

    h1{font-size: 25px; text-align:center;}
    h2{font-size: 18px; text-align:center;}
    h3{font-size: 12px;}

    .row{
        height: 200px;
    }

    .second-row{
        padding: 0px;
    }

    .third-row{
        height: 260px;
        width: 98%;
        margin: 0 10px;
        padding-left:25px;
    }

    .fourth-row{
        height:350px;
        width: 100%;
        margin: 0 25px;
        padding-left:25px;
    }

    .player-name{
        margin-top: -6%;
        h2{
            text-align: right;
        }
    }

    .character-name{
        margin-top: 8%;
    }

    .basic-stats{
        height:200px;

        .row{
            margin-top: 8.2%;
            height: 0px;
        }
    }

    .row-item{
        margin-top: -4%;
        margin-left: 10px;

        h1{
            font-size: 36px;
        }

        .score{
            padding-top: 15%;
        }
    }

    .bulto{
        height:75px;
    }

    .bulto-chico{
        height: 50px;
    }

    .bulto-chiquito{
        height: 45px;
    }

    .bultito{
        height: 25px;
    }

    .hit-die{

        h2{
            margin-top: 13px;
        }

        h1{
            margin-left: -25px;
            margin-top: 0px;
        }
    }

    .hit-points{
        margin-top: -15px;
        margin-left: -10px;
    }

    .column-3{
        padding: 0px;

        h1{
            font-size: 40px;
            margin-top: 22%;
            margin-left: 37%;
            font-weight: 900;
        }

        .speed{
            h1{
                margin-left: 50%;
            }
        }

        .armor-class{
            padding-top: 2px;
        }
    }

    .third-row{
        .skills{
            margin-top: -4px;
            padding: 0px;
            h3{
                margin-top: 0px;
                margin-left: 5px;
                font-weight: 600;
            }
        }

        .score{
            h2{
                font-size: 26px;
                margin-top: 9px;
            }
        }

        .bonus{
            h1{
                font-size: 45px;
                font-weight: 900;
                margin-top: -5px;
            }
        }

        .dexterity{
            h3{
                margin-top: -2px;
                font-weight: 600;
            }
        }

        .constitution{
            h3{
                margin-top: -2px;
                font-weight: 600;
            }
        }

        .intelligence{

            h3{
                margin-top: -2px;
                font-weight: 600;
            }
        }

        .wisdom{

            h3{
                margin-top: -3px;
                margin-left: -2px;
                font-weight: 600;
            }
        }

        .charisma{

            h3{
                margin-top: -2px;
                font-weight: 600;
            }
        }

    }

    .fourth-row{
        .languages{
            padding: 0px;

            h3{
                font-size: 15px;
                padding-top: 4px;
                margin-top: 0px;
            }
        }

        .features{
            h3{
                margin: 0px;
                font-weight: 600;
            }
        }

    }

    .fifth-row{
        height: 150px;
        margin-left: 0px;

        h1{
            font-size: 52px;
            font-weight: 900;
            margin-top: 0%;
        }

        h2{
            font-size: 36px;
            font-weight: 900;
            margin-top: 5%;
        }

        .spells-prepared{
            margin-top: 8%;
            margin-left: 4%;

        }

        .spell{
            margin-top: 2%;
            margin-left: -7%;
        }

        .slot{
            margin: 1.1%;
        }
    }


}